ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

textarea {
  resize: none;
}

body {
  font-family: Montserrat Alternates;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

section {
  position: relative;
}
section::before {
  content: "";
  width: 536px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
}

body {
  background-color: #ffffff;
  color: #000000;
}
body h2 {
  color: #000000;
}
body .header-nav-list-svg {
  stroke: #000000;
}
body.dark {
  background-color: #222222;
  color: #ffffff;
}
body.dark h2 {
  color: #ffffff;
}
body.dark button:has(svg) {
  background-color: #ffffff;
}
body.dark button:has(svg) svg {
  fill: #000000;
}
body.dark .logo-svg {
  fill: #ffffff;
}
body.dark .logo-text-wrapper {
  color: #ffffff;
}
body.dark .header-nav-list-svg {
  stroke: #ffffff;
}
body.dark section::before {
  background-color: #ffffff;
}
body.dark .birth-year-check-text {
  color: #55ff55;
}
body.dark .birth-year-check-text.output-text-wrong {
  color: #ff5555;
}

.header {
  padding: 21px 0;
}
.header-container {
  width: 1090px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.header .logo {
  margin-right: 81px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: right;
  color: #000000;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.header .logo-svg {
  fill: #000000;
}
.header .logo-text-wrapper {
  margin-left: 9px;
  width: 44px;
  height: 35px;
}
.header .logo-text-stylized {
  font-family: Sacramento;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.51px;
  text-align: right;
}
.header-nav {
  margin-right: 361px;
}
.header-nav-list {
  width: 370px;
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 50px;
  flex-wrap: _;
  flex-direction: _;
}
.header-nav-list-item {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}
.header-nav-list-item:first-child {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 8px;
  flex-wrap: _;
  flex-direction: _;
}
.header-settings-list {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 51px;
  flex-wrap: _;
  flex-direction: _;
}
.header-settings-list-text {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: right;
}
.header-settings-list-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.header-settings-list-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.header-settings-list-switch-checkbox:checked + span {
  background-color: #cccccc;
}
.header-settings-list-switch-checkbox:checked + span::before {
  transform: translateX(20px);
}
.header-settings-list-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7a7a7a;
  transition: 400ms;
  border-radius: 10px;
}
.header-settings-list-switch-slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  top: 0px;
  background-color: white;
  transition: 400ms;
  border-radius: 50%;
  background-image: url("../img/header-slider.png");
  background-position: 0;
}

.hero {
  padding: 36px 0;
}
.hero-title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: center;
}

.birth-year-check {
  padding-top: 36px;
  padding-bottom: 36px;
}
.birth-year-check-container {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 36px;
  flex-wrap: _;
  flex-direction: column;
}
.birth-year-check-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: #000000;
}
.birth-year-check-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 202px;
  flex-wrap: _;
  flex-direction: _;
}
.birth-year-check-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
}
.birth-year-check-input {
  border-radius: 20px 0 0 20px;
  height: 35px;
  width: 180px;
  padding: 10px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  background-color: #D7D7D7;
  color: #7E7E7E;
}
.birth-year-check-btn {
  border-radius: 0 20px 20px 0;
  height: 35px;
  width: 35px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.birth-year-check-btn-svg {
  fill: #ffffff;
}
.birth-year-check-text {
  width: 230px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: right;
  color: #039900;
}
.birth-year-check-text.output-text-wrong {
  color: #990000;
}

.dino {
  padding-top: 36px;
  padding-bottom: 36px;
}
.dino-container {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 36px;
  flex-wrap: _;
  flex-direction: column;
}
.dino-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.football {
  padding: 36px 0;
}
.football-container {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 36px;
  flex-wrap: _;
  flex-direction: column;
}
.football-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}
.football-field {
  width: 720px;
  height: 220px;
  border: 2px solid #000000;
  border-radius: 37px;
  background-color: #5ABB58;
}
.football-ball {
  width: 50px;
  height: 50px;
  transition: 300ms;
}/*# sourceMappingURL=main.css.map */
