ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(245, 239, 239);
}

.container {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  padding-right: 92px;
  padding-left: 92px;
  background-color: white;
}

.section-science {
  position: relative;
}
.section-science::before {
  content: "";
  width: 536px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.scientists-title {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: black;
  padding-bottom: 36px;
  padding-top: 35px;
}

.scientists-list {
  max-width: 577px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 59px;
  margin-bottom: 36px;
}

.scientist-btn-list {
  max-width: 857px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 36px;
}

.scientist-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
  border-radius: 20px;
}

.scientist-name {
  text-align: center;
  font-size: 9px;
  color: black;
  margin-bottom: 5px;
}

.scientist-age {
  text-align: center;
  font-size: 9px;
  color: black;
}

.scientist-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  line-height: 14.63px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.dark .scientist-btn {
  background-color: #D9D9D9;
  color: black;
}

.scientist-btn-list-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 18px;
}
.scientist-btn-list-item:nth-child(odd) {
  text-align: right;
  padding-left: 0;
}
.scientist-btn-list-item:nth-child(even) {
  padding-right: 0;
}
.scientist-btn-list-item:last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.section-slider {
  position: relative;
}
.section-slider::before {
  content: "";
  width: 536px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.our-team-title {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: black;
  padding-bottom: 36px;
  padding-top: 35px;
}

.our-team-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 800px;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.our-team-slider {
  overflow: hidden;
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 800px;
}

.our-team-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.our-team-name-text {
  font-family: Montserrat Alternates;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: black;
}

.our-team-work-text {
  font-family: Montserrat Alternates;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  color: black;
}

.our-team-btn-prev,
.our-team-btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}
.our-team-btn-prev svg:hover,
.our-team-btn-next svg:hover {
  fill: black;
}

.our-team-btn-prev svg {
  width: 24px;
  height: 24px;
  fill: rgba(0, 0, 0, 0.5);
}

.our-team-btn-prev {
  left: 10px;
}

.our-team-btn-next {
  right: 10px;
}

.our-team-buttons-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 36px;
  gap: 6px;
}

.line-btn {
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background-color: #D9D9D9;
  cursor: pointer;
}
.line-btn.active {
  background-color: black;
}/*# sourceMappingURL=main.css.map */