.header {
    padding: 21px 0;
    &-container {
        width: 1090px;
        @include flex(space-between, center, _, _, _);
    }

    .logo {
        margin-right: 81px;
        @include typography(inherit, 12px, 400, 14.63px, right);
        color: $black;
        @include flex(right, center, _, _, _);

        &-svg {
            fill: $black;
        }

        &-text-wrapper {
            margin-left: 9px;
            width: 44px;
            height: 35px;
        }

        &-text-stylized {
            @include typography(Sacramento, 12px, 400, 17.51px, right)
        }
    }

    &-nav {
        margin-right: 361px;
        &-list {
            width: 370px;
            @include flex(_, center, 50px, _, _);

            &-item {
                @include typography(inherit, 12px, 400, 14.63px, left);

                &:first-child {
                    @include flex(_, center, 8px, _, _);
                }
            }
        }
    }

    &-settings-list {
        @include flex(_, center, 51px, _, _);

        &-text {
            @include typography(inherit, 12px, 400, 14.63px, right);
        }

        &-switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;

            &-checkbox {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + span {
                    background-color: #cccccc;
                }

                &:checked + span::before {
                    transform: translateX(20px);
                }
            }

            &-slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #7a7a7a;
                transition: 400ms;
                border-radius: 10px;

                &::before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 0;
                    top: 0px;
                    background-color: white;
                    transition: 400ms;
                    border-radius: 50%;
                    background-image: url("../img/header-slider.png");
                    background-position: 0;
                }
            }
        }
    }
}