.rps{
    &-container{
        position: relative;
        &-choice {
            text-align: center;
            padding-top: 36px;
            padding-bottom: 36px;
          }
    }
    &-title{
        font-family: 'Montserrat Alternates';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;  
        margin-bottom: 36px;      

    }  
    &-choice{
        &-btn{
            padding: 10px;
            margin-right: 38px;
            margin-left: 38px;
            border-radius: 20px;    
            background-color: #000000; 
            &:last-child {
                margin: 0;
            }
            &:first-child{
                margin: 0;
            }
        }
    }
    &-results {
        margin-top: 20px;
    }
    &-message{
        margin-top: 36px;
    }
    &-choices-text{
        margin: 0 auto;
        text-align: center;
        margin-top: 36px;
        font-family: 'Montserrat Alternates';
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;   
        background-color: #000000; 
        padding: 10px 20px;
        border-radius: 20px;
        width: 215px;
        color: #FFFFFF;    
    }
    &-results{
        font-size: 22px;
        font-weight: bold;
    }
    &-score{
        position: absolute;
        right: 0;
        top: 90px;
        &-text{
            font-family: 'Montserrat Alternates';
            font-size: 12px;
            font-weight: 400;
            line-height: 20.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;         
        }
    }
    &-message{
        font-family: 'Montserrat Alternates';
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;    
    }

  }

  .dark {

    .rps-choices-text {
        background-color: #D9D9D9;
        color: black;
    }
    .rps-choice-btn {
        background-color: #4d4d4d;
        &:hover {
            background-color: #5f5f5f;
            transition: 0.5s;
        }
    }
  }