// .section-slider {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #f0f0f0;
//   }

.section-slider{
    position: relative;
    &::before {
    content: "";
    width: 536px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    // left: 50%;
    // right: 50%;
    transform: translateX(-50%);
    left: 50%;
}}

.our-team-title {
    // font-family: Montserrat Alternates;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: black;
    padding-bottom: 36px;
    padding-top: 35px;
}

// .our-team-slider {
//     overflow: hidden;
// }
  
.our-team-slides {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 800px;
    // height: 300px;
    // overflow: hidden;
    margin: 0 auto;
    transition: 1s;

}
.our-team-slider {
    overflow: hidden;
    position: relative;
    width: 800px;
    // height: 400px;
    margin: 0 auto;
}

.slide{
    display: flex;

    transition: 1s;
    
    // width: 800px;
    // height: 400px;
  
}
  
.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 800px;
    // transition: 1s;
}
  
.our-team-img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.our-team-name-text{
    font-family: Montserrat Alternates;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: black;
}
.our-team-work-text{
    font-family: Montserrat Alternates;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: black;
}
  
.our-team-btn-prev,
.our-team-btn-next {
    position: absolute;
    top: 50%;
      
    transform: translateY(-50%);
    // color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    & svg:hover{
        fill: black;
    }
}

.our-team-btn-prev svg {
    width: 24px;
    height: 24px;
    fill: rgba(0, 0, 0, 0.5);
}

  
.our-team-btn-prev {
    left: 10px;
}
  
.our-team-btn-next {
    right: 10px;
}






.our-team-buttons-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 20px;
    padding-top: 24px;
    padding-bottom: 36px;
    gap: 6px;
}

.line-btn{
    width: 18px;
    height: 3px;
    border-radius: 3px;
    background-color: #D9D9D9;
    cursor: pointer;
    &.active{
        width: 30px;
        background-color: #797979;
    }
}