.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    &.is-hidden {
        display: none;
    }
    .modal {
        width: 400px;
        background-color: #fff;
        padding: 15px;
    }
}